{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{task.title}}</title>
    <link rel="stylesheet" href="{% static 'css/task_deletec.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="square"><h2 class="title">Удаление задачи: {{task.title}}</h2><a href="{% url 'task_detail' task.id%}" class="exit" >↩</a></div>
    <div class="content">
    
    <h3 class="text">Вы точно хотите удалить задачу? Она удалится навсегда</h3>
    <h1 class="description">Описание:</h1>
    {% if task.description%}
    <p class="description-p">{{task.description}}</p>
    {%else%}
    <h3 style='color:aliceblue;'>Описания нет</h1>
    {% endif %}
    <p class="completed"><strong>Выполнено:</strong>{%if task.completed%}✅{%else%}❌{%endif%}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="del">Удалить</button>
    </form>
    </div>
</body>
</html>