{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/task_detailc.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{task.title}}</title>
</head>
<body>
    <div class="square"><h1 class="text">Задача: {{task.title}}</h1><a href="{% url 'task_list'%}" class="exit" >↩</a></div>
    <div class="content">
    
    <h1 class="des">Описание:</h1>
    <div class="description">
    {{task.description}}
    </div>
    <p class="completed">Выполнено: {% if task.completed %}✅ {%else%}❌{%endif%}</p>
    <div class="button">
    <a href="{% url 'task_edit' task.id%}" class="edit">Изменить задачу</a>
    <a href="{% url 'task_delete' task.id%}" class="del">Удалить задачу</a>
    </div>
    </div>
</body>
</html>