html, body {
    background-color: #022e5b;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    
}



.square{
    background: black;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    top: 0;  
}

.content{
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.content{
    background-color: #02003d;
    height: 100%;
    width: 40%;
    margin: 100px auto 0;
    padding: 20px;
    max-width: 800px;
}

.text{
    position: absolute;
    left: 50%;
    color: aliceblue;
    z-index: 1000;
    transform: translateX(-50%);
    top: 10%;
    position: absolute;
}

.exit {
    position: absolute;
    color: aliceblue;
    background-color:darkblue;
    left: 90%;
    text-decoration: none;
    z-index: 1000;
    padding: 10px 15px;
    border-radius: 10px;
    top: 30%;
}

.exit:hover{
    background-color: blue;
}


.description{
    width: 30%;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px 15px;
    text-wrap:wrap;
    max-width: 600px;
    overflow-wrap: break-word;
}

.edit{
    text-decoration: none;
    color: aliceblue;
    background-color:darkblue;
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid black;
    
    
    
}

.del{
    text-decoration: none;
    color: aliceblue;
    background-color: darkred;
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid black;
    
    
}

.edit:hover{

    background-color:blue;

    
}

.del:hover{
    background-color:red;
    
}

.completed{
    
    color: aliceblue;
    
}

.des{
    color: aliceblue;
    
    
}

.button{
    display: flex;
    gap: 10px;
}




